<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Details Page</title>
</head>
<body>
    <nav>
        <a href="/">Home</a> 
        || 
        <a href="/flights/new">New Flight</a> 
        || 
        <a href="/flights">All Flights</a>
    </nav>
    <section id="show-page">
        <div>Airline: </div>
        <div><%= flight.airline %></div>
        <div>Airport: </div>
        <div><%= flight.airport %></div>
        <div>Flight Number: </div>
        <div><%= flight.flightNo %></div>
        <div>Departs: </div>
        <div><%= flight.departs %></div>
        
     


      <br><br><h2>Destination Form</h2>
      <form id="add-destination-form" method="POST"
        action="/flights/<%= flight._id %>/destinations">
        <label>Destination:</label>
        <select name="airport">
          <option value="AUS">AUS</option>
          <option value="DFW">DFW</option>
          <option value="DEN">DEN</option>
          <option value="LAX">LAX</option>
          <option value="SAN">SAN</option>
        </select>
        <label>Arrival:
            <input type="datetime-local" name="arrival" value="2021-01-01T00:00" min="2021-01-01T00:00">
          </label><br>
        <input type="submit" value="Add Destination">
      </form>

      <% if (flight.destinations.length) { %>
        <table>
          <thead>
            <tr>
              <th>Destination(s)</th>
            </tr>
          </thead>
          <tbody>
            <% flight.destinations.forEach(function(r) { %>
              <tr>
                <td><%= r.airport %></td>
                <td><%= r.arrival %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } else { %>
        <h5>No Destinations Yet</h5>
      <% } %>

      <a href="/flights/<%= flight._id %>/tickets/new">Add Ticket</a>

      <% if (foundTickets.length) { %>
        <table>
          <thead>
            <tr>
              <th>Ticket(s)</th>
            </tr>
          </thead>
          <tbody>
            <% foundTickets.forEach(function(t) { %>
              <tr>
                <td><%= t.seat %></td>
                <td><%= t.price %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } else { %>
        <h5>No Tickets Yet</h5>
      <% } %>
</body>
</html>